body {
	text-align: center;
	font: 16px "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

// .exceeds {
// 	background-color: rgb(139, 185, 255);
//   }
  
//   .meets {
// 	background-color: rgb(152, 226, 152);
//   }
  
//   .partially {
// 	background-color: rgb(253, 253, 160);
//   }
  
//   .not {
// 	background-color: rgb(255, 147, 147);
//   }
  
//   .does-not-apply {
// 	background-color: white;
//   }

.material-icons {
	vertical-align: middle;
	font-size: inherit !important;
}

#course_index_page {
	text-align: left;
	table {
		width: 100%;
		text-align: center;

		tr:first-child {
			border-bottom: 1px solid black
		}
	}
}
	