<!DOCTYPE html>
<html>
<section id="newArtifactPage" class="container">

    <body class="container">
        <header class="row container">
            <tr>
                <h1>Artifact Title:
                    <input type="text" name="ArtifactTitle"></input>
                </h1>
            </tr>
            <tr>
                <h1>Artifact Rubric:
                        <input type="text" name="ArtifactTitle"></input>

                </h1>
            </tr>
        </header>
    </body>

</section>

</html>