<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<h2>Active Courses
			<span name="activeCourses" id="displayMessage"
				onclick="progress('These are the courses for the current semester.')">
				<i class="material-icons">help</i>
			</span>
		</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress
					<span name="artifactProgressMessage" id="displayMessage" onclick="progress('Progress of artifact completion. \n'
						+ 'An artifact is  considered complete when ... (ADD THIS)')">
						<i class="material-icons">help</i>
					</span>
				</th>
				<th>Due Date
					<span name="dueDate" id="displayMessage"
						onclick="progress('At the date listed, the portfolios will become read only and will no longer be editable.')">
						<i class="material-icons">help</i>
					</span>
				</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses
			<span name="archivedCourses" id="displayMessage"
				onclick="progress('These are the courses for past semesters semester. \n They are no longer editable')">
				<i class="material-icons">help</i>
			</span>
		</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress
					<span name="artifactProgress" id="displayMessage" onclick="progress('Progress of artifact completion. \n'
					+ 'An artifact is  considered complete when ... (ADD THIS)')">
						<i class="material-icons">help</i>
					</span>
				</th>
				<th>Due Date
					<span name="dueDate" id="displayMessage"
						onclick="progress('At the date listed, the portfolios became read only and were no longer be editable.')">
						<i class="material-icons">help</i>
					</span>
				</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
		</table>
	</section>
</section>
<script type="text/javascript">
	function progress(givenMessage) {
		alert(givenMessage); // displays an informative message to the user relating to the info button they clicked
	}
</script>